<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.KL_HD_02_HappyBirthday"
        tools:targetApi="31">
        <activity
            android:name=".View.ActivityListViewPro"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".View.ActivityBTListView"
            android:exported="true">

        </activity>
        <activity
            android:name=".View.ActivityListView"
            android:exported="true"></activity>
        <activity
            android:name=".View.ActivityImage"
            android:exported="true" />
        <activity
            android:name=".View.ActivityViewBinding"
            android:exported="true" />
        <activity
            android:name=".View.ActivityView"
            android:exported="true" />
        <activity
            android:name=".Layout.RealativeLayout.ActivityRealativeLayout"
            android:exported="false" />
        <activity
            android:name=".Layout.LinearLayout.ActivityLinearLayout"
            android:exported="false" />
        <activity
            android:name=".GiaoDien.ActivityGiaoDien"
            android:exported="true" />
        <activity
            android:name=".TinhTien.ActivityTinhTien"
            android:exported="true">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".KL_Random.ActivityRandom"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>